<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
	<dict>
		<key>scopeName</key>
		<string>dtl.injection</string>
		<key>injectionSelector</key>
		<string>L:meta.structure.array.json.comments</string>
		<key>patterns</key>
		<array>
			<dict>
				<key>include</key>
				<string>#expression</string>
			</dict>
		</array>
		<key>repository</key>
		<dict>
			<key>expression</key>
			<dict>
				<key>patterns</key>
				<array>
					<dict>
						<key>include</key>
						<string>#transforms</string>
					</dict>
					<dict>
						<key>include</key>
						<string>#bool-logic</string>
					</dict>
					<dict>
						<key>include</key>
						<string>#booleans</string>
					</dict>
					<dict>
						<key>include</key>
						<string>#bytes</string>
					</dict>
					<dict>
						<key>include</key>
						<string>#comparisons</string>
					</dict>
					<dict>
						<key>include</key>
						<string>#conditionals</string>
					</dict>
					<dict>
						<key>include</key>
						<string>#datetime</string>
					</dict>
					<dict>
						<key>include</key>
						<string>#dicts</string>
					</dict>
					<dict>
						<key>include</key>
						<string>#encryption</string>
					</dict>
					<dict>
						<key>include</key>
						<string>#hops</string>
					</dict>
					<dict>
						<key>include</key>
						<string>#json</string>
					</dict>
					<dict>
						<key>include</key>
						<string>#lists</string>
					</dict>
					<dict>
						<key>include</key>
						<string>#math</string>
					</dict>
					<dict>
						<key>include</key>
						<string>#misc</string>
					</dict>
					<dict>
						<key>include</key>
						<string>#ni</string>
					</dict>
					<dict>
						<key>include</key>
						<string>#nulls</string>
					</dict>
					<dict>
						<key>include</key>
						<string>#numbers</string>
					</dict>
					<dict>
						<key>include</key>
						<string>#phonenumbers</string>
					</dict>
					<dict>
						<key>include</key>
						<string>#sets</string>
					</dict>
					<dict>
						<key>include</key>
						<string>#strings</string>
					</dict>
					<dict>
						<key>include</key>
						<string>#uris</string>
					</dict>
					<dict>
						<key>include</key>
						<string>#uuids</string>
					</dict>
					<dict>
						<key>include</key>
						<string>#comments</string>
					</dict>
				</array>
			</dict>
			<key>transforms</key>
			<dict>
				<key>match</key>
				<string>"add"|"add-if"|"copy"|"create"|"create-child"|"default"|"discard"|"filter"|"make-ni"|"merge"|"merge-union"|"remove"|"rename"</string>
				<key>name</key>
				<string>entity.name.function</string>
			</dict>
			<key>bool-logic</key>
			<dict>
				<key>match</key>
				<string>"all"|"and"|"any"|"not"|"or"</string>
				<key>name</key>
				<string>entity.name.function</string>
			</dict>
			<key>booleans</key>
			<dict>
				<key>match</key>
				<string>"boolean"|"is-boolean"</string>
				<key>name</key>
				<string>entity.name.function</string>
			</dict>
			<key>bytes</key>
			<dict>
				<key>match</key>
				<string>"base64-decode"|"base64-encode"|"bytes"|"is-bytes"</string>
				<key>name</key>
				<string>entity.name.function</string>
			</dict>
			<key>comparisons</key>
			<dict>
				<key>match</key>
				<string>"eq"|"gt"|"gte"|"lt"|"lte"|"neq"</string>
				<key>name</key>
				<string>entity.name.function</string>
			</dict>
			<key>conditionals</key>
			<dict>
				<key>match</key>
				<string>"case"|"case-eq"|"if"</string>
				<key>name</key>
				<string>entity.name.function</string>
			</dict>
			<key>datetime</key>
			<dict>
				<key>match</key>
				<string>"datetime"|"datetime-diff"|"datetime-format"|"datetime-parse"|"datetime-plus"|"datetime-shift"|"is-datetime"|"now"</string>
				<key>name</key>
				<string>entity.name.function</string>
			</dict>
			<key>dicts</key>
			<dict>
				<key>match</key>
				<string>"dict"|"has-key"|"is-dict"|"items"|"key-values"|"keys"|"values"|"apply-ns"|"path"|"apply"|"apply-hops"</string>
				<key>name</key>
				<string>entity.name.function</string>
			</dict>
			<key>encryption</key>
			<dict>
				<key>match</key>
				<string>"decrypt"|"decrypt-pgp"|"decrypt-pki"|"encrypt"|"encrypt-pgp"|"encrypt-pki"</string>
				<key>name</key>
				<string>entity.name.function</string>
			</dict>
			<key>hops</key>
			<dict>
				<key>match</key>
				<string>"hops"|"lookup-entity"</string>
				<key>name</key>
				<string>entity.name.function</string>
			</dict>
			<key>json</key>
			<dict>
				<key>match</key>
				<string>"json"|"json-parse"|"json-transit"|"json-transit-parse"</string>
				<key>name</key>
				<string>entity.name.function</string>
			</dict>
			<key>lists</key>
			<dict>
				<key>match</key>
				<string>"combine"|"count"|"distinct"|"enumerate"|"filter"|"first"|"flatten"|"group"|"group-by"|"in"|"insert"|"is-empty"|"is-list"|"is-not-empty"|"last"|"list"|"map"|"map-dict"|"map-values"|"max"|"min"|"nth"|"range"|"reversed"|"slice"|"sorted"|"sorted-descending"|"sum"</string>
				<key>name</key>
				<string>entity.name.function</string>
			</dict>
			<key>math</key>
			<dict>
				<key>match</key>
				<string>"abs"|"ceil"|"cos"|"divide"|"floor"|"minus"|"mod"|"multiply"|"plus"|"pow"|"round"|"sin"|"sqrt"|"tan"</string>
				<key>name</key>
				<string>entity.name.function</string>
			</dict>
			<key>misc</key>
			<dict>
				<key>match</key>
				<string>"fail!"|"hash128"|"is-changed"|"literal"|"tuples"</string>
				<key>name</key>
				<string>entity.name.function</string>
			</dict>
			<key>ni</key>
			<dict>
				<key>match</key>
				<string>"is-ni"|"ni"|"ni-collapse"|"ni-expand"|"ni-id"|"ni-ns"</string>
				<key>name</key>
				<string>entity.name.function</string>
			</dict>
			<key>nulls</key>
			<dict>
				<key>match</key>
				<string>"coalesce"|"if-null"|"is-not-null"|"is-null"</string>
				<key>name</key>
				<string>entity.name.function</string>
			</dict>
			<key>numbers</key>
			<dict>
				<key>match</key>
				<string>"decimal"|"float"|"hex"|"integer"|"is-decimal"|"is-float"|"is-integer"</string>
				<key>name</key>
				<string>entity.name.function</string>
			</dict>
			<key>phonenumbers</key>
			<dict>
				<key>match</key>
				<string>"phonenumber-parse"|"phonenumber-format"</string>
				<key>name</key>
				<string>entity.name.function</string>
			</dict>
			<key>sets</key>
			<dict>
				<key>match</key>
				<string>"difference"|"intersection"|"intersects"|"union"</string>
				<key>name</key>
				<string>entity.name.function</string>
			</dict>
			<key>strings</key>
			<dict>
				<key>match</key>
				<string>"concat"|"is-string"|"join"|"length"|"ljust"|"lower"|"lstrip"|"matches"|"replace"|"rjust"|"rstrip"|"split"|"string"|"strip"|"substring"|"upper"</string>
				<key>name</key>
				<string>entity.name.function</string>
			</dict>
			<key>uris</key>
			<dict>
				<key>match</key>
				<string>"is-uri"|"uri"|"url-quote"|"url-unquote"</string>
				<key>name</key>
				<string>entity.name.function</string>
			</dict>
			<key>uuids</key>
			<dict>
				<key>match</key>
				<string>"is-uuid"|"uuid"</string>
				<key>name</key>
				<string>entity.name.function</string>
			</dict>
			<key>comments</key>
			<dict>
				<key>match</key>
				<string>\["comment".*\]</string>
				<key>name</key>
				<string>comment.block.json.comments</string>
			</dict>
		</dict>
	</dict>
</plist>
